.main{
    overflow: hidden;
}
.header{
    background-color: var(--gray-color);
}
.nav-text{
    font-size: 2.5rem;
}
.nav-span{
    color: var(--yellow-color);
}
.nav-list{
    list-style: none;
    padding-left: 0;
}




/* nav-tablet-mobile */
.nav-table-mobile{
    display:none;
}
.nav-tablet-mobile_icon{
    top:20px;
    right:20px;
    font-size: 2.5rem;
    color: var(--black-color);
}
.nav-table-mobile__label{
    top:45px;
    right:0;
    left:0;
    z-index: 1;
    transform: translateY(-124%);
    background-color: var(--white-color);
}
.nav-table-mobile__check:checked ~ .nav-table-mobile__label{
    transform: translateY(0%);
}
.nav-tablet-mobile__list{
    list-style: none;
}
.nav-tablet-mobile__item{
    margin: 20px 0;
}



/* pc */
.nav-item{
    display: inline-block;
    margin: 0 20px;
}
.nav-link:hover{
    text-decoration: revert;
}
.nav-link{
    text-decoration: none;
    color: var(--black-color);
}
.nav-content{
    height: 30px;
    border-radius: 20px;
    background-color: var(--grays-color);
}
.nav-search{
    height: 100%;
}
.search-input{
    height: 100%;
    border: none;
    background-color: var(--grays-color);
    color: var(--black-color);
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0 16px;
    outline: none;
}
.search-btn{
    font-size: 1.6rem;
    width: 40px;
    height:30px;
    color: var(--black-color);
    background-color: var(--grays-color);
    margin-right: 10px;
    border: none;
}
.search-input:focus ~ .nav__search-history{
    display: block;
}

/* nav-search */
.nav__search-history{
    display: none;
    top:35px;
    right:0;
    width: 390px;
    left:0;
    background-color: #fff;
    padding-left: 15px;
    overflow: hidden;
    z-index:1;
}
.nav__search-history-heading{
    font-size: 1.8rem;
}
.nav-iteams{
    margin: 20px 0;
    font-size: 1.6rem;
    list-style: none;
}
.search-btn:hover{
    background-color: #dedddd;
}

.nav-iteam{
    display: inline-block;
    margin: 0 20px;
}
.nav-icon__down{
    font-size: 1.8rem;
}
.nav-circle{
    --border-height: 12px;
    content:"";
    top: -5px;
    left:10px;
    right:0;
    width: var(--border-height);
    height: var(--border-height);
    border-radius: 50%;
    font-size: 1.2rem;
    border: 1px solid;
    background-color:var(--yellow-color);
    color:var(--black-color);
}




/* navbar */
.navbar{
    margin-top: 30px
}
.navbar::before{
    content:"";
    position: absolute;
    top: -25px;
    left:0;
    right:0;
    width:100%;
    border: 1px solid var(--grays-color);
}
.navbar-left__text{
    font-size: 2.5rem;
    opacity: 0.5;
}
.navbar-left__texts{
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.4;
}
.navbar-left__btn{
    width:130px;
    height: 45px;
    background-color: var(--green-color);
    border-radius: 20px;
    border: none;
    margin-left: 2px;
    color: var(--white-color);
}
.navbar-left__btn:hover {
    transform: scale(1.2);
    background-color:#05534f;
}

/* nav-mobile */
.nav-mobile{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: none;
}
.nav-mobile__icon{
    font-size: 3rem;
}
/* nav-cart */
.nav-cart{
    display: none;
    top:30px;
    right:-10px;
    width:390px;
    z-index:1;
    background-color: var(--white-color);
}
.nav-link:focus ~ .nav-cart{
    display: block;
}
.nav-cart::after{
    content:"";
    position:absolute;
    top: -19px;
    right: 3px;
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.nav-cart__text{
    margin: 10px;
    opacity: 0.5;
}
.nav-cart__iteams{
    font-size: 1.6rem;
    margin-left: 10px;
}
.nav-cart__img{
    width: 42px;
    height:42px;
    margin: 12px;
}
.nav-cart__info{
    width: 100%;
    margin-right: 12px;
}
.nav-cart__info-name{
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--black-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.nav-cart__info-wrap{
    color: red;
}
.nav-cart__info-multiply{
    font-size: 1rem;
    opacity: 0.6;
    margin: 0 5px;
}
.nav-cart__info-amount{
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.6;
}
.nav-cart__info-body{
    margin-top: 10px;
}
.nav-cart__info-description{
    font-size: 1.2rem;
    opacity: 0.6;
}
.nav-cart__info-remove{
    text-align: right;
}

/*  */
.nav-icon__hover:hover{
   color: red;
}

/* nav-account */
.nav-link:focus ~ .nav-account{
    display: block;
}
.nav-account{
    display:none;
    top:30px;
    right:-15px;
    width:390px;
    z-index:1;
    background-color: var(--white-color);
}
.nav-account::after{
    position:absolute;
    content:"";
    top: -24px;
    right: 2px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent ;
}
.nav-width:before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    left: -40px;
    border: 1px solid var(--grays-color);
}


/*  nav-right*/
.nav-right{
    background: url('../img/image 4.png') no-repeat;
    background-size: 100% auto;
}


/* content */

/* content-container */
.content-container{
    margin-top: 50px;
}
.content-container__left{
    background-color:#6CDDFF;
}
.content-container__advertisement{
    margin-left: 50px;
}
.content-container__text{
    font-size:3.7rem;
    line-height: 1.4;
    color: var(--white-color);
}
.content-container__texts{
    font-size:1.5rem;
    color:var(--white-color);
    word-spacing: 2px;
}
.content-container__btn{
    width: 120px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 20px;
    border: none;
    color:var(--black-color);
    font-weight: 600;
}
.content-container__btn:hover{
    background-color: var(--gray-color);
    transform: scale(1.1);
}
.content-container__img{
    background-repeat: no-repeat;
    height: 100%;
}


/* content-container__rigth */
.content-container__rigth{
    height:100%;
    background-color:var(--yellow-color);
}
.content-container__textx{
    font-size:3.7rem;
    line-height: 1.4;
    color: var(--green-color);
}
.nav-spans{
    color:var(--green-color);
}
.content-container__imgs{
    background-repeat: no-repeat;
    min-height: 108%;
    height: auto;
}





/* content-sale */
.content-sale__heading{
    background: var(--gray-color) url('../img/Mask Group.png') no-repeat;
}
.content-sale__text{
    font-size:3.7rem;
    line-height:68px;
}
.content-sale__container{
    max-width:50%;
    height: 120px;
    margin: 60px 149px;
    background-color: var(--yellow-color);
    transform: skewX(-4deg) skewY(-6deg);
}
.content-sale__discount{
    font-size: 4rem;
    line-height:1.4;
    margin: 0;
    padding-top: 10px;
}
.content-sale__time{
    font-size: 1.6rem;
    margin: 0;
    padding-top: 10px;
    color: var(--green-color);
}
.content-sale__imgs{
    display: inline-block;
}



/* content-new */
.content-new__text{
    font-size: 4rem;
    line-height: 1.4;
    margin:0;
    padding-top: 20px;
}
.content-new__item{
    font-size: 1.8rem;
    line-height: 1.4;
    opacity: 0.6;
    margin:0;
}
.content-new__list{
    margin-top: 40px;
}
.content-new__btn{
    width: 80px;
    height: 30px;
    border: 1px solid var(--grays-color);
    border-radius: 20px;
    margin: 0 10px;
    color: var(--black-color);
    background-color: var(--white-color);
}
.content-new__btn:hover {
    background-color:var(--yellow-color);
}
.ms{
    background-color: var(--yellow-color);
}



/* content-shop */
.content-shop{
    margin-top: 50px;
}
.content-shop__sale{
    top:20px;
    left:25px;
    z-index: 2;
    color: var(--white-color);
}
.content-shop__sale::before{
    position:absolute;
    content:"";
    top:-9px;
    left:-4px;
    z-index: -1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:#FF7D1E;
}
.content-shop__img{
    width: 100%;
}
.content-shop__cart{
    right: 30px;
    bottom: 50px;
}
.content-shop__link{
    display: block;
    text-decoration: none;
    margin: 30px 0;
    z-index: 2;
    color: var(--black-color);
}
.content-shop__link::after{
    --border-height:35px;
    position:absolute;
    content:"";
    right:-10px;
    bottom: -8px;
    z-index: -1;
    width: var( --border-height);
    height: var( --border-height);
    border-radius: 50%;
    background-color:var(--white-color);

}
.content-shop__item{
    opacity: 0.6;
}
.content-shop__icon{
    color: var(--yellow-color);
}
.content-shop__name{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 15px;
}
.content-shop__span{
    font-size: 1.8rem;
    color: var(--greens-color);
}
.content-shop__spans{
    font-size: 1.6rem;
    opacity: 0.6;
    margin-left: 10px;
}
.content-shop__sales{
    top: 20px;
    left: 25px;
    z-index: 2;
    color: var(--white-color);
}
.content-shop__sales::before {
    --border-height: 35px;
    position: absolute;
    content: "";
    top: -9px;
    left: -4px;
    z-index: -1;
    width: var(--border-height);
    height: var(--border-height);   
    border-radius: 50%;
    background-color: var(--greens-color);
}


/*  */
.content-icon__span{
    margin: 0 15px;
}
.content-icon__span:hover {
    background-color: var(--gray-color);
}
.content-icon__span::after{
    --border-height:35px;
    position: absolute;
    content:"";
    top: -15px;
    right: 0;
    left: -10px;
    width: var(--border-height);
    height: var(--border-height);
    border: 2px solid var(--grays-color);
    border-radius: 50%;
}
.content-icon__down{
    font-size: 1.8rem;
    font-weight: 200;
}




/* content-img */
.content-img__heading{
    min-height: 300px;
    height:100%;
    background-color:var(--green-color);
}
.content-img__text{
    margin-top: 50px;
    font-size:3.1rem;
    color: var(--white-color);
}
.content-img__item{
    margin-top: 20px;
    margin-bottom: 50px;
    opacity:0.6;
    color: var(--white-color);
}
.content-img__logo{
    margin:0 20px;
    width: 150px;
    height: 55px;
    background-color: var(--white-color);
}




/* content-reviews */
.content-reviews__heading{
    background-color: var(--gray-color);
}
.content-reviews__founder{
    max-width: 50%;
    margin: 50px auto;
    border-top-right-radius: 0 !important;
    background-color: rgba(254, 254, 254, 1);
}
.content-reviews__founder::before{
    position:absolute;
    content:"";
    border-width: 107px 40px;
    border-style: solid;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important ;
    border-color:  rgba(254, 254, 254, 1) transparent transparent  rgba(254, 254, 254, 1);
    top:0;
    right: -79px;
    border-radius:5px;
}
.content-reviews__img{
    max-width: 200px;
    height: 150px;
}
.content-reviews__list{
    margin: 20px;
}
.content-reviews__item{
    text-align: justify;
    line-height: 1.4;
    color: var(--black-color);
}
.content-reviews__name{
    color: var(--black-color);
}



/* content-gmail  */
.content-gmail__letters{
    margin: 0 auto;
}
.content-gmail__guide{
    margin-top:60px;
    max-width: 500px;
    height: 60px;
    border-radius: 50px;
    padding: 0 20px;
    background-color: rgba(247, 247, 247, 1);
}
.content-gmail__input{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(247, 247, 247, 1);
}
.content-gmail__icon{
    font-size: 5rem;
    color:var(--yellow-color);
    margin-left: 100px;
}
.content-gmail__icon:hover {
    color:#f1c904;
}

.content-gmail__list{
    list-style:none;
    padding:0;
}
.content-gmail__iteam{
    margin: 0 20px;
}
.content-gmail__iteam::after{
    --border-height: 30px;
    position:absolute;
    content:"";
    top:-7px;
    left:-7px;
    z-index: -1;
    right:0;
    border-radius: 50%;
    background-color: rgba(247, 247, 247, 1);
    width: var(--border-height);
    height: var(--border-height);
}
.content-gmail__link{
    text-decoration: none;
}
.content-gmail__icons{
    font-size: 1.8rem;
    color:var(--black-color);
}
.me-3{
    padding-left: 3px;
}


/* footer */
.footer{
    margin-bottom: 100px;
}
.nav-footer{
    font-size: 1.6rem;
    color: var(--black-color);
    opacity: 0.6;
    padding-right: 20px;
}
.footer-text{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-color);
}
.footer-list{
    padding:0;
}
.footer-item{
    list-style: none;
    margin: 10px 0;
}
.footer-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black-color);
}
.footer-link:hover {
    text-decoration: revert;
}



